body {
}
h1 {
  text-align: center;
}
h3 {
  padding-top: .5em;
}
.container1 {
  height: 100vh;
  background-image: url("../img/monster.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}
.container2 {
  height: 100vh;
  background-image: url("../img/monsterWave.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: contain;
}
.initialBackground {
  background-color: rgba(255,255,255,0.5);
  padding-left: 2em;
  padding-right: 2em;
  padding-top:2em;
  padding-bottom: 2em;
}
#scream {
  display: none;
}
.btn-info {
  margin-top: 1em;
}
.screamText {
  color: #17a2b8;
}
